$background_main: LightGoldenRodYellow;
$admin_theme_colorz_1: LightSkyBlue;
$admin_theme_colorz_2: #2c3e50;
$admin_theme_colorz_3: Orchid;
$admin_theme_colorz_4: #41B883;
$admin_theme_colorz_5: SlateGray;
$admin_theme_colorz_6: IndianRed;
$color_is_active: orangered;
$color_is_hover: CadetBlue;
$color_link: #42b983;
$color_text: $admin_theme_colorz_2;
$header_main_height: 50px;
$padding_app_all: 10px;
$sidebar_builder_maxwidth: 320px;
